<%= form_with(model: [movie, review], url: movie_reviews_path(movie), method: :post, local: false) do |form| %>

<!--星レビュー機能-->
<%= form.label :評価する %>
  <div class="form-group" id="star">
    <%= form.label :rate,'評価', class:'col-md-3 col-form-label' %>
    <%= form.hidden_field :star, id: :review_star %>
  </div>

  <script>
    $('#star').empty();
    var elem = document.getElementById('star');
    var opt = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'review[rate]',
    };
    raty(elem,opt);
  </script>

<!--感想フォーム-->
<%= form.label :感想を書く %>
  <div class="card border-light mb-3">
    <div class="card-header">
      <div class="field">
        <p><%= form.text_area :body, cols: 80, rows: 7, placeholder: "コメントをここに",class:"form-control-plaintext" %></p>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Create Review', class: 'btn btn-outline-light float-right' %>
  </div>
<% end %>