<div class="contaiber">
  <div class="row">
    <div class="col-md-4 offset-sm-1 my-5">
      <div class="card border-light mb-3">
        <div class="card-header">
        <%= image_tag 'https://image.tmdb.org/t/p/w342' + @movie.image, class: 'card-img' %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="mt-5"><%= @movie.name %></h2>
      <p>公開年：<%= @movie.year %></p>
      <p>ジャンル：<%= @movie.genre_name %></p>
      <p>上映時間：<%= @movie.runtime %>分</p>
      <p>あらすじ：<%= @movie.overview %></p>

        <%= form_with(model: [@movie, @review], url: movie_reviews_path(@movie), local: true) do |form| %>
        <% if @review.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

            <ul>
            <% @review.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :評価 %>
          <p><%= form.select :rate, [1, 2, 3, 4, 5] %></p>
        </div>

        <%= form.label :感想を書く %>
        <div class="card border-light mb-3">
          <div class="card-header">
            <div class="field">
              <p><%= form.text_area :body, cols: 80, rows: 7, placeholder: "コメントをここに",class:"form-control-plaintext" %></p>
            </div>
          </div>
        </div>
        

        <div class="actions">
          <%= form.submit 'Create Review', class: 'btn btn-outline-light' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-sm-1 text-center">
      <h2>レビュー一覧</h2>
      
      <table class="table table-hover">
        <thead>
          <tr class="table-active">
            <th scope="row">ユーザー名</th>
            <th scope="row">評価</th>
            <th scope="row">コメント</th>
            <th scope="row">操作</th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
            <tr class="table-dark">
              <td><%= review.user.name %></td>
              <td><%= review.rate %>/5点</td>
              <td style="word-wrap: break-word; width: 700px;"><%= review.body %></td>
              <td><%= link_to '削除', movie_destroy_path(@movie, review), method: :delete, data: { confirm: '削除しますか？' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>