<div class="contaiber">
  <div class="row">
    <div class="col-md-4 offset-sm-1 my-5">
      <span class="badge bg-secondary mb-3 ml-1">閲覧数 <%= @movie.read_count %></span>

      <span id="likes_btn_<%= @movie.id %>">
      　<%= render "public/likes/likes", movie: @movie %>
      </span>

      <div class="card border-light mb-3">
        <div class="card-header">
        <%= image_tag 'https://image.tmdb.org/t/p/w500' + @movie.image, class: 'card-img' %>
        </div>
      </div>
    </div>
    <div class="col-md-6 mr-5">
      <h2 class="mt-5"><%= @movie.name %></h2>
      <p>公開年：<%= @movie.year %></p>
      <p>ジャンル：<%= @movie.genre_name %></p>
      <p>上映時間：<%= @movie.runtime %>分</p>
      <p>あらすじ：<%= @movie.overview %></p>

      <div class="reviews_area">
        <%= render 'public/movies/form',movie: @movie, review: @review %>
      </div>
    </div>

  <div class="row">
    <div class="col-md-10 offset-sm-1 text-center review_list">
<!--レビューを一覧表示させる-->
      <%= render 'review_list', movie: @movie, reviews: @reviews %>
    </div>
  </div>
</div>
