<div class="container mt-5 mb-5">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-2 mr-4 text-center text-success">
        <h2><strong>〜 ログイン 〜</strong></h2>
    </div>
  </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


  <div class="row my-3">
    <div class="field text-center">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>
    
  <div class="row my-3">
    <div class="field text-center">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>

  <div class="row my-3">
    <div class="actions text-center my-3">
      <%= f.submit "ログインする", class:"btn btn-outline-success" %>
    </div>
  </div>
  
  <div class="link_btn text-end mt-4 mb-2 text-center">
    <%= link_to "登録がお済みでない方はこちら", new_registration_path(resource_name), class:"btn btn-link text-info" %><br>
    <%= link_to "Topページへ", root_path, class:"btn btn-link text-success" %>
  </div>
<% end %>
</div>