<h1>Admin::Movies#new</h1>
<%= form_for @Movie do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :overview %>
  <%= f.text_area :overview %>

  <%= f.submit "Create" %>
<% end %>
